<!DOCTYPE html>
<html lang="es">
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/StyleSheet.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
          integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
          crossorigin="anonymous" referrerpolicy="no-referrer"/>
</head>
<body>
<div class="container">
    <div class="navbar">
        <div class="navbar-brand">
            <img src="~/logo.jpg" width="70px" alt="logo" asp-append-version="true"/>
        </div>
        <ul>
            <li>
                <a asp-controller="Persons" asp-action="Index">Persons</a>
                <a asp-controller="Countries" asp-action="UploadFromExcel">Upload Countries</a>
            </li>
        </ul>
    </div>
    <div class="page-content">
        @RenderBody()
    </div>
</div>

@await RenderSectionAsync("scripts", false)
</body>
</html>